apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: piggymetrics
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
  - name: http
    port: 8080
    targetPort: 8080