apiVersion: v1
kind: Service
metadata:
  name: monitoring
  namespace: piggymetrics
spec:
  type: ClusterIP
  selector:
    app: monitoring
  ports:
  - name: http
    port: 8080
    targetPort: 8080
