apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitoring
  namespace: piggymetrics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitoring
  template:
    metadata:
      labels:
        app: monitoring
    spec:
      containers:
      - name: monitoring
        image: hdxt25/piggymetrics-monitoring:0
        env:
        - name: CONFIG_SERVICE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: piggymetrics-secrets
              key: CONFIG_SERVICE_PASSWORD
        ports:
        - containerPort: 8080