apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: piggymetrics
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
  - name: http
    port: 8000
    targetPort: 8000
