apiVersion: apps/v1
kind: Deployment
metadata:
  name: registry
  namespace: piggymetrics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      containers:
      - name: registry
        image: hdxt25/piggymetrics-registry:0
        env:
        - name: CONFIG_SERVICE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: piggymetrics-secrets
              key: CONFIG_SERVICE_PASSWORD
        ports:
        - containerPort: 8761