# Namespace
apiVersion: v1
kind: Namespace
metadata:
  name: piggymetrics
---
# Secrets
apiVersion: v1
kind: Secret
metadata:
  name: piggymetrics-secrets
  namespace: piggymetrics
type: Opaque
stringData:
  CONFIG_SERVICE_PASSWORD: password
  NOTIFICATION_SERVICE_PASSWORD: password
  STATISTICS_SERVICE_PASSWORD: password
  ACCOUNT_SERVICE_PASSWORD: password
  MONGODB_PASSWORD: password
---
# PersistentVolumeClaims (Dynamic EBS gp2 provisioning)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-auth-mongodb
  namespace: piggymetrics
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 500Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-account-mongodb
  namespace: piggymetrics
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 500Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-statistics-mongodb
  namespace: piggymetrics
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 500Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-notification-mongodb
  namespace: piggymetrics
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 500Mi
